[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.8"

[packages]
websockets = "*"
pandas = "*"
pyramda = "*"
seaborn = "*"
psutil = "*"
toolz = "*"
portalocker = "*"
inflection = "*"
aioprocessing = "*"
joblib = "*"
frozendict = "*"
tabulate = "*"
rpy2 = "*"
statsmodels = "*"
plotly = "*"
scipy = "*"
colorcet = "*"
matplotlib = "*"
functional-pipeline = "*"
numpy = "*"
networkx = "*"
typing-extensions = "*"
PyALE = "*"
qgrid = "*"
minepy = "*"
swifter = "*"
IPython = "*"
sklearn = "*"
mpl-toolkits = "*"
community = "*"
miceforest = "*"
memoization = "*"
ipywidgets = "*"
six = "*"
attr = "*"

[dev-packages]
pre-commit = "*"
jupyter-contrib-nbextensions = "*"
jupyter_nbextensions_configurator = "*"
hide-code = "*"
ipython-autotime = "*"
pylint = "*"
jupyter = "*"
notebook = "*"
yapf = "*"
mypy = "*"
pyinstaller = "*"
watchdog = "*"
jupyterlab = "*"
nbdev = "*"
qgrid = "*"
pytest = "*"
